# IDE or Editor Specific
.idea/
.vscode/
*.iml

# Java & Spring build outputs
**/target/
**/build/
**/*.class

# Backend
backend/src/main/resources/keys/private_key.pem
backend/src/main/resources/credentials.json

# OS files
.DS_Store
Thumbs.db
desktop.ini
*~