@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #f8f9fa;
  color: #202124;
}
